// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


$primary: #FFBC00;
$primary-500: #DFA503;
$secendory:black;
$secendory-500:#161616;
$secendory-300:#3F3F3F;
$secendory-200: #67686A;

//media
$xl:1200px;
$lg: 992px;
$md:768px;
$sm:576px;

body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}
.button {
    display: inline-block;
    color: white;
    border: 1px solid $primary;
    padding: 0.5em 1em;
    background: black;
    border-radius: 1.5em;
    font-size: 20px;
    @media(max-width: $md){
        margin-left: 0px;
    }
    &.outline{
        background: transparent;
        border-radius: 1px solid black;
        color: black;
        &:hover {
            background: black;
            color: $primary;
            text-decoration: none;

        }
    }
    &.top-header-contact-email {
        @media(max-width: $xl){
            display: none;
        }
    }
    .fa{
        color: $primary;
        margin-right: 0.5em;
    }
    transition: ease 0.25s all;
    &:hover {
        background: $primary;
        color: black;
        text-decoration: none;
    }
}

.wrapper {
    padding: 0;
}


.top-header {
    background: black;
    height: 115px;
    @media(max-width: $md){
        height: auto;
        padding-top: 30px;
        padding-bottom: 45px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/header-top-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .top-header-contact{
        display: flex;
        justify-content: flex-end;

        @media(max-width: $md){
            justify-content: space-between;
        }
       
        .mobile-menu-dropdown{
            display: none;
            
            @media(max-width: $md){
                display: block;
            }

            button {
                color: white;
                font-weight: bold;
                padding: 10px;
                border-radius: 0px;
                border: none;
                padding: 0.5em 1em;
                font-size: 22px;
                span {
                    margin-right: 0.5em;
                }
                &:hover {
                    background: black;

                }

            }
        }


        a{
            display: inline-block;
            color: white;
            border: 1px solid $primary;
            padding: 0.5em 1em;
            background: black;
            border-radius: 1.5em;
            font-size: 20px;
            margin-left: 1em;
            @media(max-width: $md){
                margin-left: 0px;
            }
            &.top-header-contact-email {
                @media(max-width: $xl){
                    display: none;
                }
            }
            .fa{
                color: $primary;
                margin-right: 0.5em;
            }
        }
    }
    
    .mobile-holder-logo {
        @media(max-width: $md){
            text-align: center;
            margin-bottom: 30px;
        }
    }
}

#main-nav {
    background-color: $secendory-300;
    border-top: 1px solid $secendory-200 ;
    border-bottom: 1px solid $secendory-200 ;

    #navbarNavDropdown{
        @media (max-width: $xl) {
            padding-top: 30px;
        }
    }

    .mobile-menu-dropdown{
        @media(max-width: $xl){
            display: block;
        }
        
        @media(max-width: $md){
            display: none;
        }

        button {
            color: white;
            font-weight: bold;
            padding: 10px;
            border-radius: 0px;
            border: none;
            span {
                margin-right: 0.5em;
            }
            &:hover {
                background: black;

            }

        }
        
    }

    .search-input-holder{
        border: 8px solid $primary;
        background: white;
        padding: 0px 10px ;
        width: 350px;
        @media(max-width: $md){
            width: 100%;
        }

        border-radius: 20px;
        margin-top: -30px;
        margin-bottom: -30px;
        display: flex;
        align-items: center;
        input{
            width: 100%;
            font-size: 22px;
            padding: 20px 0px;
            // 
            border: none;
            outline: none;
            &::placeholder {
                font-weight: bold;
                color: black;
            }
        }
        .title {
            font-size: 22px;
            font-weight: 300;
            margin-right: 10px; 
            color: black;
        }
        
    }

    #main-menu {
        li {
            a {
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                color: white;
                padding-right: 20px;
                padding-left: 20px;
            }
            &.current-menu-item {
                a{
                    color: $primary;
                }
 
            }
            .dropdown-menu{
             background: $secendory-300;   
             li {
                 a {
                     &:hover {
                         background: black;
                     }
                 }
             }
            }
        }
    }

}

.home-hero-banner-top{
    margin-top: 100px;
    @media(max-width: $lg){
        margin-top: 45px;
    }
    .skip-bin-info-holder{
        border: 4px dashed $primary;
        background: $secendory-500;  
        padding: 30px;
        border-radius: 30px;   
        position: relative;   

        @media(max-width: $lg){
            font-size: 15px;
            border-radius: 15px;   

        }
        
        .overlay-image-arrow {
            position: absolute;
            bottom: 100%;
            right: 18%;
            @media(max-width: $lg){
                display: none;
            }
            img {
                width: 135px;
                height: 146px;    
            }
        }
        
        .title{
            font-size: 48px;
            font-weight: bold;
            @media(max-width: $lg){
                font-size: 30px;
            }
            .fa{
                color:$primary;
            }
        }
        .desc{
            font-size: 24px;
            font-weight: 300;
            color: $primary;
            @media(max-width: $lg){
                font-size: 18px;
            }
        }
    }
    .seven-day-skip-info{
        img{
            @media(max-width: $lg){
                display: none;
            }
        }
        .title{
            display: none;
            color: $primary;
            font-size: 36px;
            font-family: 'Just Another Hand', cursive;
            margin-top: 15px;
            @media ( max-width: $lg){
                display: block;
            }   
        }
    }

    .home-hero-slider {
        margin-top: 50px;
        border-radius: 30px;
        overflow: hidden;
        margin-bottom: -110px;
        @media (max-width: $md){
            margin-bottom: -175px;
            margin-top: 15px ;
        }
        position: relative;
        z-index: 500;
        .slide {
            .image {
                height: 420px;
                background-color: red;
                background-image: url(../img/truck.png);
                background-size: cover;
                background-position: center;
                @media (max-width: $lg){
                    height: 320px;
                }
                @media (max-width: $md){
                    height: 210px;
                }
            }
            .entry-content {
                background-color: white;
                height: 110px;
                color: black;
                font-size: 30px;
                font-weight: bold;
                display: flex;
                line-height: 1.15;
                align-items: center;
                padding-bottom: 5px;
                @media (max-width: $md){
                    height: 175px;
                    // baraye ine to mobile arrow biyad payin
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                }
                .icon {
                    width: 150px;
                    padding-right: 30px;
                    padding-left: 30px;
                    @media (max-width: $lg){
                        display: none;
                    }
                }
                .info {
                    padding-left: 30px;
                    @media (max-width: $lg){
                        font-size: 24px;
                    }
                }
                .slider-nav {
                    display: flex;
                    margin-right: 15px;
                    @media (max-width: $md){
                        margin-right: 0px;
                        margin-left: 15px;
                        margin-top: 5px;

                    }
                    a {
                        margin-right: 15px;
                        margin-left: 0.25em;
                        color: $primary;
                        font-size: 48px;
                        display: inline-block;
                    }
                }
            }

      }  
    }
}


.home-product-info {
    background-color: $primary;
    padding-top: 200px;
    .home-special-offer-background-overlay {
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50px;
            bottom: 50px;
            left: 0;
            right: 0;
            background-color: rgba($color: black, $alpha: 0.1);
        }
    }

    .home-special-offer {
        background: black;
        border-radius: 15px;
        display: flex;
        padding: 50px;
        position: relative;
        z-index: 500;

        @media (max-width: $md) {
            display: block;
            padding:30px;
        }
        .discount-circle {
            height: 268px;
            min-width: 268px;
            border-radius: 50%;
            background: white;
            color:black;
            line-height: 0.9;
            position: relative;
            display: inline-flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            .abs-holder {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                display: inline-flex;

                @media (max-width: $md) {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform : translate(-50%, -50%);
                }
            }
            @media (max-width: $xl) {
                height: 156px;
                min-width: 156px;
            }
            @media (max-width: $md) {
                margin-bottom: 15px;
                width: 100%;
                padding-bottom: 100%;
            }

            .save {
                font-size: 48px;
                font-weight: bold;
                text-transform: uppercase ;
                @media (max-width: $xl) {
                    font-size: 30px;
                }
                @media (max-width: $md) {
                    font-size: 48px;
                }
            }
            .percent{
                font-size: 100px;
                font-weight: 900;
                @media (max-width: $xl) {
                    font-size: 48px;
                }
                @media (max-width: $md) {
                    font-size: 100px;
                }
            }
        }
        .entry-content {
            padding-left: 50px;
            @media (max-width: $md) {
                padding-left: 0px;
            }
            .title{
                font-size: 36px;
                color: $primary;
                font-weight: bold;
                @media (max-width: $xl) {
                    font-size: 30px;
                }
            }
            .desc{
                font-size: 24px;
                font-weight: 300;
                margin-top: 30px;
                margin-bottom: 30px;
                @media (max-width: $xl) {
                    font-size: 18px;
                }
                @media (max-width: $md) {                
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }
            
        }
    }

    .home-product-holder{
        margin-top: 100px;
        margin-bottom: 20px;
        h2 {
            font-size: 48px;
            font-weight: bold;            
            color: black;
            margin-bottom: 15px;
            @media (max-width: $lg) {
                font-size: 30px;
            }
            @media (max-width: $md) {
                font-size: 24px;
                text-align: center;
            }

            i {
                margin-right: 0.25em;
            }
        }
        .home-products{
            .home-product{
                border-radius: 15px;
                background: white;
                color: black;
                padding: 30px;
                position: relative;
                margin-bottom: 30px;
                @media (max-width: $xl) {
                    padding-bottom: 60px;
                }
                img {

                }
                .title{
                    font-size: 30px;
                    font-weight: bold;
                    margin-bottom: 15px;
                }
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    line-height: 1.15;
                    
                    li {
                        margin: 0;
                        padding: 0;
                        font-size: 16px;
                        font-weight: 300;
                        &::before {
                            content: "\f0da";
                            display: inline-block;
                            font-family: FontAwesome;
                            margin-right: 0.5em;
                            color: $primary;
                        }
                    }
                }
                .home-product-circles{
                    @media (max-width: $md) {
                        padding-top: 15px;
                    }
                    .circle {
                        width: 100%;
                        padding-top: 100%;
                        background: $primary;
                        border-radius: 50%;
                        position: relative;
                        @media (max-width: $md) {
                            margin-top: 15px;
                            
                        }

                        .abs-circle-holder {
                            position: absolute;
                            top:15px;
                            left:15px;
                            right: 15px;
                            bottom: 15px;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;
                            text-align: center;
                            line-height: 1;
                            .content-holder{
                                font-weight: 500;
                                font-size: 16px;
    
    
                            }
                            .icon{
                                margin-top: 15px;
                                
                            }
                        }

                    }
                }
                .abs-holder-button {
                    position: absolute;
                    margin-top: 5px;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%);
                    padding: 5px 30px;
                    font-size: 18px;
                    font-weight: bold;
                    color: white;
                    background: black;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    text-transform: uppercase;
                    @media (max-width: $md) {
                        transform: none;
                        left: 30px;
                        right: 30px;
                        text-align: center;
                        padding-right: 8px;
                        padding-left: 8px;
                    }
                }
            }
            
        }
       
    }

    .home-we-accept {
        margin-top: 75px;
        .title-holder{
            display: flex;
            h2 {
                flex: 1;
                font-size: 48px;
                color: black;
                font-weight: bold;
                margin-bottom: 30px;
                @media (max-width: $lg) {
                    font-size: 30px;
                    text-align: center;
                    margin-top: 30px;
                }
            }
            .button-holder{
                margin-bottom: 30px;
                &.top {
                    @media (max-width: $lg) {
                        display: none;
                    }
                }
                &.bottom {
                    display: none;
                    @media (max-width: $lg) {
                        display: block;
                    }
                }
                .button{

                }
            }           
        }
        .circle {
            margin-top: 30px;
            font-weight: bold;
            text-align: center;
            color: black;
            margin-top: 30px;
        }
    }
    
}
#wrapper-footer {
    padding-top: 100px;
    @media (max-width: $lg) {
        padding-top: 30px;
    }
    .footer-testimonial {
        text-align: center;
        margin-bottom: 100px;
        @media (max-width: $lg) {
            margin-bottom: 30px;
        }
        .testimonial {
            .stars{
                color: $primary;
                font-size: 42px;
                @media (max-width: $lg) {
                    font-size: 30px;
                }
            }
            .quote {
                font-size: 30px;
                margin-bottom: 15px;
                @media (max-width:$lg) {
                    font-size: 24px;   
                }

            }
            .author{
                color: $primary;
            }
        }
    }

    .footer-contact-info{
        background: $primary;
        padding: 60px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        color: black;
        @media (max-width: $md) {
            padding: 30px;
        }
        .title {
            font-size: 48px;
            font-weight: bold;
            @media (max-width: $md) {
                font-size: 30px;
            }
        }
        .desc{
            font-size: 24px;
            font-weight: 500;
            margin-top: 30px;
            margin-bottom: 30px;
            @media (max-width: $md) {
                font-size: 18px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
        .contact-info{
            font-size: 24px;
            min-width: 1.5em;
            @media (max-width: $md) {
                font-size: 18px;
            }
            div {
                color: white;
                margin-bottom: 1.5em;
            }
            .fa{
                color: white;
                min-width: 1.5em;
            }
        }
        .contact-form-holder {
            background:black;
            padding: 30px;
            border-radius: 30px;
            @media (max-width: $lg) {
                margin-top: 30px;
            }
            input, textarea {
                border-radius: 10px;
                margin-bottom: 5px;
                font-size: 18px;
                background: white;
                border: none;
                height: auto;
                outline: none;
                &[type="submit"]{
                    display: inline-block;
                    background: $primary-500;
                    color: white;
                    width: auto;
                }
            }
        }
    }
    
    .copyright {
        background: white;
        padding: 20px;
        color: black;
        a{
            color: black;
        }
        span{
            margin-left: 1em;
            margin-right: 1em;
            color: $primary;
        }
        
    }
}

.page-header-holder {

    margin-top: 40px;
    margin-bottom: 30px;

    @media (max-width: $md) {
        margin-top: 60px;
    }

    h1 {
        font-size: 48px;
        color: $primary;
        font-weight: 300;
    }

}

#main {
    .entry-content {
        h2 {
            margin-bottom: 1em;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-bottom: 1em;
            li {

                margin: 0;
                padding: 0;
                &::before {
                    content: "\f0a9";
                    display: inline-block;
                    font-family: FontAwesome;
                    margin-right: 1em;
                    color: $primary;
                }
            }
            
        }
        img {
            border-radius: 30px;
        }
        
    }
}

.right-sidebar-promotion {
    background: $primary;
    border-radius: 15px;
    padding: 30px;
    position: relative;
    z-index: 500;

    @media (max-width: $lg) {
        
        text-align: center;
    }
    @media (max-width: $md) {
        display: block;
        padding:30px;
    }
    .discount-circle {
        height: 268px;
        width: 100%;
        border-radius: 50%;
        background: white;
        color:black;
        line-height: 0.9;
        position: relative;
        .abs-holder {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: inline-flex;

        }
        @media (max-width: $lg) {
            width: 33%;
            height: 33%;
            padding-top: 33%;
            display: inline-block;
        }

        @media (max-width: $md) {
            width: 50%;
            height: 50%;
            padding-top: 50%;
            display: inline-block;
        }

        @media (max-width: $sm) {
            width: 100%;
            padding-top: 100%;
            display: inline-block;
        }

        .save {
            font-size: 48px;
            font-weight: bold;
            text-transform: uppercase ;
            @media (max-width: $xl) {
                font-size: 30px;
            }
            @media (max-width: $sm) {
                font-size: 48px;
            }
        }
        .percent{
            font-size: 100px;
            font-weight: 900;
            @media (max-width: $xl) {
                font-size: 48px;
            }
            @media (max-width: $sm) {
                font-size: 100px;
            }
        }
    }
    .button{
        text-transform: uppercase;
        display: block;
        text-align: center ;
    }
    .entry-content {
        padding-left: 25px;
        @media (max-width: $md) {
            padding-left: 0px;
        }
        .title{
            font-size: 30px;
            color: black;
            font-weight: bold;
            @media (max-width: $xl) {
                font-size: 24px;
            }
        }
        .desc{
            font-size: 18px;
            font-weight: 300;
            color: black;
            margin-top: 15px;
            margin-bottom: 30px;
            @media (max-width: $xl) {
                font-size: 15px;
            }
            @media (max-width: $md) {                
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
      

    }
}

.post-header-holder{

    height: 600px;
    background: black;
    background-size: cover ;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    h1{
        font-size: 48px;
        color: $black;
        font-weight: 400;
        background: $primary;
        padding: 0.5em 1em;
        display: inline-block;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        margin-bottom: 0px ;
    }

}
.post-header-metadata {
    background: white;
    padding: 1em;
    font-weight: 400;
    color: black;
    margin-bottom: 50px;
}

.right-sidebar-blog-categories {
    
}

.hero-banner-top{
    margin-top: 108px;;
    .block {
        padding-right: 40px;
        border: 3px dashed $primary-500;
        border-radius: 20px;
        background-color: $secendory-500;

        .skip-bin-info-holder {
            color:white;
            justify-content: center;
            i {
                text-align: center;
                margin-right: 15px;
                height: 35px;
                width: 35px;
                background-color: $primary;
                color: black;
                border-radius: 50%;
            }
            line-height: 1.6;
            font-size: 30px;
          
        }
        .desc {
            font-size: 25px;
            color: $primary-500;
        }
    }
}

